.Menu {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Menu__item {
  color: #757575;
}

.Menu__item:not(:first-child) {
  margin-top: 3rem;
}

.Menu__item__title {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.Menu__item__line {
  font-size: 1.4rem;
  display: flex;
  padding: .3rem .6rem;
}

.Menu__item__line--total {
  border-top: 1px solid #c8c8c8;
  margin-top: .3rem;
  padding-top: .6rem;
}

.Menu__item__value {
  color: #333;
}

.Menu__item__value-ref {
  color: #9e9e9e;
  margin-left: .5rem;
}

.Menu__item__line__label {
  margin-right: auto;
}
