.Calendar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Calendar__month {
  color: #757575;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.Calendar__grid {
  display: grid;
  grid-template: repeat(7, 2.8rem) / repeat(14, 1.4rem);
}

.Calendar__tile {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
}

.Calendar__tile--header {
  color: #9e9e9e;
}

.Calendar__tile--button {
  cursor: pointer;
}

.Calendar__tile--button:hover {
  background-color: #e0e0e0;
}

.Calendar__tile--button-selected {
  background-color: #bbdefb;
}

.Calendar__tile--button-selected:hover {
  background-color: #90caf9;
}

.Calendar__day {
  cursor: pointer;
  pointer-events: none;
}

.Calendar__day--disabled {
  cursor: initial;
  pointer-events: initial;
  color: #9e9e9e;
}

.Calendar__day--today {
  font-weight: bold;
  color: #7cb342;
}
