.App {
  display: flex;
  height: 100%;
}

.App__header {
  align-items: center;
  color: white;
  display: flex;
  flex: none;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.App__menu {
  display: flex;
  flex: none;
  flex-direction: column;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 1;
}

.App__menu__header {
  background-color: #7cb342;
  justify-content: center;
}

.App__menu__content {
  flex: 1;
}

.App__menu__footer {
  background-color: #eee;
  color: #aaa;
  flex: none;
  font-size: 1.2rem;
  padding: 1rem 1.6rem;
  text-align: center;
}

.App__body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App__body__header {
  background-color: #8bc34a;
  justify-content: flex-end;
}

.App__body__content {
  flex: 1;
  overflow: auto;
}
